{{ form_start(form) }}
    <div class="form-div-edit-single p-5">
        {{ form_widget(form.name,{'attr': {'class': 'form-new-single form-new-phone-size'}}) }}
            <button class="btn">{{ button_label|default('Envoyer') }}</button>
    </div>
{{ form_end(form) }}