<form method="post" action="{{ path('ap_catalog_case_vb_delete', {'id': ap_catalog_case_vb.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ap_catalog_case_vb.id) }}">
    <button class="btn">Supprimer</button>
</form>
