<!-- Button trigger modal -->
<button type="button" class="btn catalog-content-customer-container-bp" data-bs-toggle="modal" data-bs-target="#deletePack">
Supprimer
</button>

<!-- Modal -->
<div class="modal fade" id="deletePack" tabindex="-1" aria-labelledby="deletePackLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="text-center modal-title" id="deletePackLabel">⚠️Suppression de pack⚠️</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Etes vous sûr de vouloir supprimer ce pack?
        <p class ='text-secondary fst-italic'><small>Fonctionne uniquement si le dossier est vide</small></p>
      </div>
      <div class="d-flex justify-content-around modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Retour</button>
        {{ include('tabs/Catalog/VB/ap_catalog_case_vb/_delete_form.html.twig') }}
      </div>
    </div>
  </div>
</div>