{% extends 'base.html.twig' %}

{% block title %}Edit ApCatalogCustomerBp{% endblock %}

{% block body %}
<span class="form-new-name-container">
    <h3 class='align-self-center'>Modification de {{ap_catalog_customer_bp.name}}</h1>

    {{ include('tabs/Catalog/ap_catalog_customer_bp/_form.html.twig', {'button_label': 'Envoyer'}) }}
     <span class="bottom-fix btn-edit-role "> 
        {{ include('tabs/Catalog/ap_catalog_customer_bp/_delete_form.html.twig') }}
     </span> 
</span>
{% endblock %}
