<form method="post" action="{{ path('information_files_delete', {'id': ap_information_file.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ap_information_file.id) }}">
    <button class="btn">Suprimer</button>
</form>
