
<div class="aprole-global-container">
    <h1 class="management-h1">Liste des employés</h1>
    <a class="btn-new btn-bottom btn-edit-role btn btn-ligth" href="{{ path('user_new') }}">Nouveau</a>
    <div class="aprole-global-container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="title-table1">Id</th>
                    <th class="title-table1">Nom</th>
                    <th class="title-table1">Prénom</th>
                    <th class="title-table1">Email</th>
                    <th class="title-table1">Role</th>
                    <th class="title-table1">Actif</th>
                    <th class="title-table1">Actions</th>
                </tr>
                {% include "manager/_filtreEmployee.html.twig" %}
            </thead>
            <tbody id="content-filtered">
                {% include "manager/_filtredEmployee.html.twig" %}
            </tbody>
        </table>
    </div>
        
</div>
