{% extends 'base.html.twig' %}

{% block title %}New ApCatalogFilesBp{% endblock %}
{% block javascripts %}
{{ encore_entry_script_tags('apCatalogImagePreview') }}
{% endblock %}
{% block body %}

    <h1>Ajout d'un nouveau document pour Batteries-Prod</h1>
    {{ include('tabs/Catalog/ap_catalog_files_bp/_form.html.twig') }}
{% endblock %}
