<form method="POST" action="{{ path('ap_catalog_model_bp_delete', {'id': ap_catalog_model_bp.id}) }}" onsubmit="return confirm('Tu es sur que tu veux supprimer cet item');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ap_catalog_model_bp.id) }}">
    <button class="btn btn-delete bottom-fix">Supprimer</button>
</form>
