<form method="post" action="{{ path('ap_catalog_model_bp_delete', {'id': ap_catalog_model_bp.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ap_catalog_model_bp.id) }}">
    <button class="btn">Delete</button>
</form>
