{{ form_start(form) }}

<div class="d-flex div-edit-role-name">
 {{ form_widget(form.name, {'attr': {'class': 'new-role-name'}}) }}
 <input class='btn-edit-role btn btn-ligth' type="submit" value="Soumettre le nom">
</div>
{{ form_end(form) }}
