{% extends 'base.html.twig' %}

{% block title %}New ApRole{% endblock %}

{% block body %}
<div class="aprole-global-container">
    <h3>Créer un rôle</h1>

    {{ include('ap_role/_formNew.html.twig') }}

    <a class="bottom-fix btn-edit-role btn btn-ligth" href="{{ path('manager_index') }}">Revenir au manager</a>
</div>
{% endblock %}
