{% for ap_role in ap_roles %}
        <tr>


            <td class="onglet-fontsize-role-table">{{ ap_role.name }}</td>
            <td class="text-end" >
            {% for ap_access in app.user.RoleId.apAccesses %}
                {% if ap_access.tab.name is same as(tabNameRole) and ap_access.edit is same as(true) %}
                <a href="{{ path('ap_role_edit', {'id': ap_role.id}) }}" class="btn-bottom btn btn-ligth">Modifier</a>
                {% endif %}
            {% endfor %}
            </td>

        </tr>
    {% else %}
        <tr>
            <td colspan="3">Aucun résultat</td>
        </tr>

{% endfor %}