{% extends 'base.html.twig' %}

{% block title %}New ApCatalogModelBp{% endblock %}

{% block body %}
    <h1>Create new ApCatalogModelBp</h1>

    {{ include('ap_catalog_model_bp/_form.html.twig') }}

    <a href="{{ path('ap_catalog_model_bp_index') }}">back to list</a>
{% endblock %}
