<div class="modal fade" id="exampleParentSectionModal{{parent.id}}" tabindex="-1" aria-labelledby="exampleParentSectionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleParentSectionModalLabel">⚠️Suppression de la catégorie {{parent.name}}⚠️</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Etes vous sûr de vouloir supprimer cette catégorie?
        <p class ='text-secondary fst-italic'><small>Fonctionne uniquement si la catégorie est vide</small></p>
      </div>
      <div class="d-flex justify-content-around modal-footer">
        {{ include('tabs/information/ap_information_parent_section/_delete_form.html.twig') }}
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>