<form method="post" action="{{ path('information_section_delete', {'id': section.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ section.id) }}">
    <button class="btn btn-delete">Supprimer</button>
</form>
