{% extends 'base.html.twig' %}

{% block title %}New ApInformationSection{% endblock %}
{% block navbar %}
{% include "_headerBrut2.html.twig" %}
{% endblock %}
{% block body %}
    {% for ap_access in app.user.RoleId.apAccesses %}
        {% if ap_access.tab.name is same as(tabName) and ap_access.add is same as(true) %}
            <span class="form-new-name-container">
                <h3 class="align-self-center">Nouvelle section RH</h3>
                {{ include('tabs/information/ap_information_section/_form.html.twig') }}
                <a class="bottom-fix btn btn-ligth btn-lambda" href="{{ path('information_rh_index') }}">Retour</a>
            </span>
        {% endif %}
    {% endfor %}
{% endblock %}
