 @import 'variable.scss';
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~bootstrap/scss/bootstrap";
@import "notifyMessage.scss";
@import "employee.scss";
@import 'home.scss';
@import 'manager.scss';
@import 'navbar.scss';
@import 'pagination.scss';
@import 'role.scss';
@import 'tab.scss';

h1{
color: $primaryColor
}

h2{
    color: $primaryColor
}

h3{
    color: $primaryColor
}