.form-catalog{
    margin-block-end: 0px;
}

.catalog-search-container{
    display: flex;
    justify-content: space-around;
}

.catalog-customer-container-bp{
    display: flex;
    justify-content: space-around;
}

.catalog-grid-customer{
    margin: $catalogFileContainerMargin;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    justify-content: space-between;
    grid-gap: 20px;
}

.catalog-grid-packs{
    margin: $catalogFileContainerMargin;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: space-between;
    grid-gap: 20px;
}

.catalog-hover-zoom{
    transition: transform .2s;
}

.catalog-hover-zoom:hover{
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
}

@media (max-width: 568px){
    .catalog-customer-container-bp{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .catalog-content-customer-container-bp{
        margin: 5px;
        width: 50%
    }
}

@media (max-width: 768px){
    .catalog-search-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .catalog-content-search-container{
        margin: 5px;
    }

    .add-cust-catalog-bp{
        margin-top:5px;
    }
}
