body{
 background-color: $backgroundColor;   
}

.management-h1{
    margin-bottom: $paddingTitle;
    margin-top: $paddingTitle;
    font-size: 1.8rem;
    }

.catalog-h1{
    margin-bottom: $paddingTitle;
    margin-top: $paddingTitle;
    font-size: 1.8rem;
}