.login-img{
 height : 100vh;
}

.login-form-design{

    position: absolute;
    display: contents;
    width: 100%;
}

.white-box-login{
    width: 30rem;
    background-color: white;
    align-self: center;
    padding: 40px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
}