.login-img{
 height : 100vh;
}

.login-form-design{

    position: absolute;
    display: contents;
    width: 100%;
}

.white-box-login{
    height: 55vh;
    width: 30vw;
    background-color: white;
    align-self: center;
    padding: 40px;
    padding-bottom:80px ;
    border-radius: 3px;
    box-shadow: 10px 5px 5px rgb(121, 120, 120);
}