

.modal-body-design{
    padding: 0px;
}

.modal-header-design{
    padding: 0px;
    padding-left: 1rem;
    background:none;
    border-bottom:0px;
    color:blanchedalmond;

}

.modal-content-design{
    border:none;
    background:none;
}

.modal-title-picture{
    position: absolute;
    top: 0px;
    left: 0px;
    color:white;
    padding:10px;
    background:black;
    border-bottom-right-radius:15px;
    border-top-left-radius:5px;
}

.image-modal-design{
    border-radius: 5px;
}