.aprole-global-container{
    padding:$gloabalPaddingContainer;
}

// .form-container-with-title{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

// .aprole-new-container{
//     padding:$gloabalPaddingContainer;
//     display:flex;
//     flex-direction: column;
//     justify-content: center;
//     width:95%;
// }

// .aprole-new-role-container{
//     padding:$gloabalPaddingContainer;
//     height: 80vh;
//     display:flex;
//     flex-direction: column;
//     justify-content: center;
// }

.aprole-user-show{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.div-edit-role-name{
    display: flex;
    justify-content: center;
}

// .edit-role-name{
//     font-size: 1.5rem;
//     font-weight: 600;
//     width:35%;
//     margin-right: 16px;
//     border: solid 1px #ced4da;
//     border-radius: 0.25rem;
//     transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
//     padding: 0.375rem 0.75rem;
// }

// .new-role-name{
//     font-size: 1.5rem;
//     font-weight: 600;
//     width:35%;
// }

.btn-new{
    margin:16px;
}

.btn-delete-100width{
    width:100%;
}

//title table

.title-table1{
    font-size: $titletable1;
}

.title-table2{
    font-size: $titletable2;
}

.onglet-fontsize-role-table{
    font-size:1.1rem;
    font-weight: 500;
}

.sous-onglet-fontsize-role-table{
    font-size:1rem;
    font-weight: 400;
}

.onglet-color-role-table{
    background: #f6f7ff;
}

//new aprole

.bottom-fix{
    position: absolute;
    bottom:10%;
    left:10%;
}

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    /* min-width: 10rem; */
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}


/*#region mediaquery */

/*#region forms*/

.login-form-co{
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 75%;
}



// @media (min-width: 568px) { 
//     .login-form-co{
//         display: flex;
//         flex-direction: column;
//         justify-content:center;
//         width: 100%;
//     }
//  }
@media(min-width:768px){
    .login-form-co{
        display: flex;
        flex-direction: column;
        justify-content:center;
    }
}
@media(min-width:992px){
    .login-form-co{
        display: flex;
        flex-direction: column;
        justify-content:center;
        width: 80%;
    }
}
@media(min-width:1200px){
    .login-form-co{
        display: flex;
        flex-direction: column;
        justify-content:center;
        width: 70%;
    }
}

// @media screen and (min-width: 568px) {
//     .login-form-co{
//         display: flex;
//         flex-direction: column;
//         justify-content:center;
//         width: 50%;
//     }
// }

// @media screen and (min-width: 768px) { 
//     .login-form-co{
//         display: flex;
//         flex-direction: column;
//         justify-content:center;
//         width: 100%;
//     }
//  }

// @media (min-height:720px) and ( min-width: 992px)  { 
//     .login-form-co{
//         display: flex;
//         flex-direction: column;
//         justify-content:center;
//         width: 95%;
//     }
//  }



/*endregion */

/*endregion */


