li .active {
    background-color:$primaryColor !important;
    color: white !important;
    font-weight: $fontWeight;
    border-bottom: $primaryColor !important ;

}

.nav-item-uniform{
    color: black; 
    font-weight: $fontWeight;
}