$primaryColor:#908d02;
$primaryColorText:#dbdab6;
$primaryColorActive:#3ea60b;
$primaryColorActiveText:#7c9c6b;
$primaryColorHover: #cf1616 ;
$primaryColorHoverText:#a37f84;

//background
$backgroundColor:#cfcfcf;

//container
$gloabalPaddingContainer: 8px;
//tableau
$titletable1:1.2rem;
$titletable2:1.1rem;
//btn
$MarginBtn: 0px;
$fontWeight: 600;
//title
$paddingTitle:32px;

