/*#region color*/
$primaryColor:#1c2539;
// $primaryColorText:#fdfdfd;
$primaryColorActive:#12100b;
// $primaryColorActiveText:#fafafa;
$primaryColorHover: #ffffff ;
$primaryColorHoverText:#12100b;
$headerColor:#1c2539;
$headerColortext:#ffffff;

$btnPrimaryColor:#f3a700;
$btnPrimaryColorText:#ffffff;
/*#endregion*/

/*#region Element*/
    /*#region background*/
    $backgroundColor:#dcdfe6;
    /*#endregion*/

    /*#region container*/
    $gloabalPaddingContainer: 8px;
    /*#endregion*/

    /*#region tableau */
    $titletable1:1.2rem;
    $titletable2:1.1rem;
    /*#endregion*/

    /*#region btn */
    $MarginBtn: 0px;
    $fontWeight: 600;
    /*#endregion*/

    /* #region title */
    $paddingTitle:32px;
    /* #endregion*/
/*#endregion*/

/*#region tabs*/
    /*#region catalog*/
    $catalogFileContainerMargin: 30px 12px;
    /*#endregion*/
/*#endregion*/
