$primaryColor:#941B0C;
$primaryColorText:#fdfdfd;
$primaryColorActive:#161314;
$primaryColorActiveText:#fafafa;
$primaryColorHover: #ffffff ;
$primaryColorHoverText:#161314;
$headerColor:#941B0C;
$headerColortext:#ffffff;

$btnPrimaryColor:#b72916;
$btnPrimaryColorText:#ffffff;
//  $primaryColor:#003459;
//  $primaryColorText:#00171F;
//  $primaryColorActive:#119DA4;
//  $primaryColorActiveText:#00171F;
//  $primaryColorHover: #00171F ;
//  $primaryColorHoverText:#FFFFFF;

//background
$backgroundColor:#EDE9E9;

//container
$gloabalPaddingContainer: 8px;
//tableau
$titletable1:1.2rem;
$titletable2:1.1rem;
//btn
$MarginBtn: 0px;
$fontWeight: 600;
//title
$paddingTitle:32px;

