{% extends 'base.html.twig' %}
{% block title %}Information{% endblock %}
{% block navbar %}
{% include "_headerBrut2.html.twig" %}
{% endblock %}
{% block body %}

<h1> information récentes </h1>
<a href="{{ path('information_section_new_rh') }}">Nouvelle section</a>


</div>
{% endblock %}