<form method="post" action="{{ path('ap_sector_vb_delete', {'id': ap_sector_vb.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ap_sector_vb.id) }}">
    <button class="btn btn-delete">Supprimer</button>
</form>
