{% extends 'base.html.twig' %}

{% block title %}New ApSectorVb{% endblock %}

{% block body %}
    {% for ap_access in app.user.RoleId.apAccesses %}
        {% if ap_access.tab.name is same as(tabName) and ap_access.add is same as(true) %}
        <div class="aprole-global-container">
            <h1 class="catalog-h1">Ajouter un nouveau secteur</h1>
                {{ include('tabs/Catalog/VB/ap_sector_vb/_form.html.twig') }}
                <a class="btn" href="{{ path('ap_catalog_case_vb_show', {'id': case_id }) }}">Retour</a>
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}
