<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}

        {% endblock %}
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
    

        {# {% if app.user %} #}
        {# {% if app.user.active == true %}
        Votre compte a été désactivé veuillez vous déconnectez. #}
         {# {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a> #}
        {# {% else %} #}
            {% block navbar %}
            {% include "_header.html.twig" %}
            {% endblock %}
            {% block tab %}{% endblock %}           
            {% block body %}
            
            {% endblock %}
        {# {% endif %} #}
        {# {% else %}

        {% endif %} #}
    </body>
</html>
