{% extends 'base.html.twig' %}
{% block title %}Information{% endblock %}
{% block navbar %}
{% include "_headerBrut2.html.twig" %}
{% endblock %}
{% block body %}

<h1> information perso </h1>

{% endblock %}