{% extends 'base.html.twig' %}

{% block title %}New ApCatalogCustomerBp{% endblock %}

{% block body %}
    <h1>Create new ApCatalogCustomerBp</h1>

    {{ include('ap_catalog_customer_bp/_form.html.twig') }}

    <a href="{{ path('ap_catalog_customer_bp_index') }}">back to list</a>
{% endblock %}
